/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.sk-spinner.sk-wave {
    & {
        width: 40px;
    }
    div:not(:last-child) {
        margin-right: 1px;
    }
}

.require::after {
    content: ' *';
    display: inline;
    color: red;
}

.dropzone {
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.card-header-actions button:not(:last-child) {
    margin-right: 0.5rem;
}
